* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ed0ef0;
  --secondary-color: #d5f3f7;
  --test-color: #343033;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

body {
  background-color: #f3f4f6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.app-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  font-size: 0.9rem;
  color: var(--test-color);
  font-family: serif;
}

h1 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #1a1a1a;
  text-align: center;
}

.courses-grid {
  margin-top: 25px;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.courses-grid button:last-child {
  grid-column: span 2;
}

.course-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  line-height: 1.4;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(11, 78, 211, 0.5);
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 600;
}

.course-btn:hover {
  transform: translate(-2px, -2px);
  transform: scale(1.04);
}

.course-btn:active {
  transform: translate(0px, 0px);
  transform: scale(1);
}

footer p {
  text-align: center;
  color: #2f2e2e;
  margin-top: 2rem;
}

#author-name {
  font-weight: bold;
}

/* Quiz Screen */

.question-text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

.quiz-infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.quiz-infos p {
  background-color: black;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(110, 184, 244, 0.7);
}

.max-question {
  color: var(--primary-color);
}

/* Answers container */
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1.3rem;
}

.answer-btn {
  padding: 0.8rem;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  background-color: #cceef5;
  transition: all 0.2s;
  font-size: 1rem;
}

.answer-btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.answer-btn.correct {
  border-color: rgb(12, 246, 12);
  background-color: rgb(153, 221, 153);
  color: green;
  font-weight: 700;
}

.answer-btn.incorrect {
  color: rgb(244, 10, 10);
  background-color: rgb(217, 173, 173);
  border-color: rgb(236, 76, 76);
  font-weight: 700;
}

.progress-container {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #e2ead6;
  margin-bottom: 1rem;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--primary-color);
}

.quiz-result-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.result-infos {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.motivation-message {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 900;
}

a {
  text-decoration: none;
}

.whatsapp-icon {
  color: green;
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.whatsapp-icon:hover {
  transform: scale(1.3);
}

#restart-btn {
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 0.98rem;
  display: block;
  margin: 0 auto;
  background-color: #ed0ef0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
}

#restart-btn:hover {
  transform: translateY(-2px);
}

#restart-btn:active {
  transform: translateY(0px);
}

.quiz-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav-btn {
  padding: 5px;
  border: 1px solid rgb(174, 171, 171);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-btn:hover {
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.nav-btn:active {
  box-shadow: none;
  transform: translateY(0px);
}

@media (min-width: 529px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

@media (min-width: 689px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .app-container {
    font-size: 1.2rem;
  }
}
